@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}

.links {
    text-align: center;
    padding: 40px;
}

ul li {
    margin-top: 20px;    
    cursor: pointer;   
}

.catalog {
    margin-right: 40px;
}

.hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .star {
    position: absolute;
    top: 1;
    left: 95px;  
  }

  .star-ls {
    position: absolute;
    top: 1;
    left: 15px; 
  }

  .orange {
      color: orange;
  }
 

  #favorite ul li {
      list-style: none;
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 700px;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content img {
  display: block;
  margin: 0 auto;
}